@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

body {
    
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}



#inicio {
    background: white;
    background: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 1px 20px black;
}

.logo {
    text-align: center;
}

.mouse {
    margin-top: 0px;
}

.navbar {
    text-transform: uppercase;
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65);
      background: #219439; 
}

.navbar-brand {
    float: left;
    padding: 8px 4px;
}

div.navbar-header {
    80px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #cbcbcb;
}

.verde{
    color:  #219439;
}

.aire {
    margin-top: 4%;
}

.aire2 {
    margin-top: 8%;
}

.titulo {
    text-align: left;
    padding: 4%;
    padding-left: 0;
}

.backwhite {
    background: white;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.45);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 2%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
}

.title-bar {
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    /* background-color: red; */
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.blackgreen {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.45);
    border-right: 100px;
    border-bottom: 30px;
    padding: 2%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
    height: 200px;
}

.backgreen{
        background: rgba(33, 148, 57, 0.92);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.45);
    border-right: 100px;
    border-bottom: 30px;
    padding: 2%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
}

.container-fluid {
    background-image: url(../img/fondoTeam2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.queso h2 small,
h2,
p {
    color: white;
}

.title {
    margin-bottom: 30px;
    padding: 10px 10px;
    /*margin-left: -30px;*/
    position: relative;
    box-shadow: 3px 3px 30px #353839;
    background-color: white;
    transition: all 3s ease;
}

.forma-left {
    width: 0;
    height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid rgb(210, 206, 201);
    position: absolute;
    top: 100%;
    left: 0px;
}

.forma-right {
    width: 0;
    height: 0;
    line-height: 0;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(210, 206, 201);
    position: absolute;
    top: 100%;
    right: 0px;
}

.circle {
    color: orange;
    text-shadow: 3px 3px 10px #353839;
    text-align: center;
    font-weight: bold;
    padding: 35%;
    border: 1px solid #353839;
    border-radius: 50%;
}


/*aside .row {
    text-align: center;
    padding: 2%;
}
aside .row h4 {
    background: #cccccc;
}
aside .row {
    background: #f4f4f4;
}*/

aside .row a {
    color: orange;
}

aside .row .link {
    color: #353839;
    font-size: 20px;
    text-decoration: none;
}

aside .row .link:hover {
    color: #353839;
    text-decoration: none;
}

.pad {
    padding: 3%;
    border-left: 1px solid white;
}

.page-header {
    color: white;
}

footer {
    background-color: #353839;
    padding: 2em;
    color: white;
}

.thum {
    border-right: 1px solid #353839;
    text-align: center;
}

.thum1 {
    text-align: center;
}

.icon {
    font-size: 80px;
}

.back {
    background: white;
    background-attachment: fixed;
    background-image: url(../img/background.jpg)
}

table th {
    text-align: center;
}

.all-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.all-button:hover {
    background-color: rgba(40, 182, 44, 0.3);
    border: none;
    transition: all 200ms ease-out;
}

.color {
    background-color: rgba(40, 182, 44, 0.6);
    border: none;
    transition: all 200ms ease-out;
}

.back {
    background: white;
    background-attachment: fixed;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.panel h1 small {
    color: white;
}

table td {
    text-align: center;
}

.back-regis{
    background: white;
}

.aire3{
    margin-top: 5%;
}

.parewi{
    background: #219439;
   padding: 10%;
}

.drones{
        
   background-image: url(../img/background.jpg);
    padding: 10%;
    background-attachment: fixed;
}
.drones h2, .drones p{
color: dimgray;    
}

.nodebots{
    background: #219439;
   padding: 10%;
}


.talleres{
      background-image: url(../img/background.jpg);
    padding: 10%;
    background-attachment: fixed;
}
.talleres h2, .platicas p{
    color: dimgray;
}

/*STICKY BAR */
.navbar-form input, .form-inline input {
	width:auto;
}

header {
	height:200px;
}


#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 800px;
}

/* //STICKY BAR */

/****CURSOR TYPED*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* //CURSOR TYPED*/